In [6]:
#Tuples

colors = ("Red", "Blue", "White", "Black")

print(colors[1])

Blue

In [12]:
#\n for New line. \t for space
print("Q)\tWhat is your name? \nA)\tMy Name is Zunaib Afzal.")

Q)	What is your name?
A)	My Name is Zunaib Afzal.

In [34]:
#for Loops

names = ["Zunaib", "Bilal", "Nasir", "Zubair", "Abdullah"]

for i in names:
    print("Welcome to " + i)
    if i == "Nasir":
        break

Welcome to Zunaib
Welcome to Bilal
Welcome to Nasir

In [30]:
#for nested Loops

firstName = ["Muhammad", "Ahmed"]
lastName = ["Zunaib", "Bilal", "Nasir", "Zubair", "Abdullah"]
fullName = []

for first in firstName:

['Muhammad Zunaib', 'Muhammad Bilal', 'Muhammad Nasir', 'Muhammad Zubair', 'Muhammad Abdullah', 'Ahmed Zunaib', 'Ahmed Bilal', 'Ahmed Nasir', 'Ahmed Zubair', 'Ahmed Abdullah']

In [38]:
#Convert input in int.

a = input("Write First Value: ")

a = int(a)

print(a + 25)

Write First Value: 15
40

In [47]:
#Change Case

name = ["zuNaiB", "BilAl", "NaSIr", "ZuBAir", "AbduLLah"]

#name = "zunAIb"

for i in name:
    
    print(i.lower())

zunaib
bilal
nasir
zubair
abdullah