In [18]:
#Function

def fullName(fname,lname):   
    c = fname + lname
    print(c)

fname = input("Write First Name: ")
lname = input("Write Last Name: ")
fullName(fname, lname)

Write First Name: bilal
Write Last Name: ahmed
bilalahmed

In [19]:
def add_num(a,b):   
    c = a + b
    print(c)

def sub_num(a,b):   
    c = a - b
    print(c)
    
def mul_num(a,b):   
    c = a * b
    print(c)

def div_num(a,b):   
    c = a / b
    print(c)


add_num(15,5)
sub_num(15,5)
mul_num(15,5)
div_num(15,5)

20
10
75
3.0

In [38]:
def fullName(fname,lname, class1 = "4th ", age = "5 Years"):   
    c = fname + lname + class1 + age
    print(c)


fullName("Huzaifa ", "Ahmed ", age = "6 Years", class1 = "10th ")

Huzaifa Ahmed 10th 6 Years

In [48]:
def fullName(fname, lname, *other_info):  
    print(fname, lname, other_info)


fullName("Muhammad ", "Zunaib ", "Afzal ", "4th ", "5 Years", "245 Marks")

Muhammad  Zunaib  ('Afzal ', '4th ', '5 Years', '245 Marks')

In [ ]:
#Functions
#Parameter
#Argument
#Fucntion Call
#Positional argument
#Keyword argument