In [7]:
#Dictionaries

school = {
            "name": "Zunaib",
            "class": 5,
            "age": 12,    
        }

school["address"] = "Karachi, Pakistan"

print(school)

{'name': 'Zunaib', 'class': 5, 'age': 12, 'address': 'Karachi, Pakistan'}

In [9]:
#Dictionaries

school = {
            1: "Zunaib",
            2: 5,
            3: 12,
            4: "Karachi, Pakistan"
        }
print(school)

{1: 'Zunaib', 2: 5, 3: 12, 4: 'Karachi, Pakistan'}

In [10]:
school = {
            1: "Zunaib",
            2: 5,
            3: 12,
            4: "Karachi, Pakistan"
        }

type(school)

dict

In [13]:
school = [      "Zunaib",    5,     12,  "Karachi, Pakistan"]

type(school)

list

In [14]:
school = (      "Zunaib",    5,     12,  "Karachi, Pakistan")

type(school)

tuple

In [21]:
#Dictionaries

school = {
            "name": "Zunaib",
            "class": 5,
            "age": 12,
            "address": "Karachi, Pakistan",
            "phone": 12345
        }

del school["phone"]

print(school)

{'name': 'Zunaib', 'class': 5, 'age': 12, 'address': 'Karachi, Pakistan'}

In [37]:
#Dictionaries
#.keys #.values #.items

school = {
            "name": "Zunaib",
            "class": 5,
            "age": 12,
            "address": "Karachi, Pakistan",
            "phone": 12345
        }


for academy_key, academy_value in school.items():
    print(academy_value, academy_key)

Zunaib name
5 class
12 age
Karachi, Pakistan address
12345 phone

In [48]:
school = [
        {
            "name": "Zunaib",
            "class": 5,
            "age": 12,
            "address": "Karachi, Pakistan",
            "phone": 12345
        },
        {
            "name": "Bilal",
            "class": 9,
            "age": 15,
            "address": "Islamabad, Pakistan",
            "phone": 112233
        },
        {
            "name": "Ahmed",
            "class": 8,
            "age": 10,
            "address": "Lahore, Pakistan",
            "phone": 998877
        }
]

for academy in school:
    print(academy)

{'name': 'Zunaib', 'class': 5, 'age': 12, 'address': 'Karachi, Pakistan', 'phone': 12345}
{'name': 'Bilal', 'class': 9, 'age': 15, 'address': 'Islamabad, Pakistan', 'phone': 112233}
{'name': 'Ahmed', 'class': 8, 'age': 10, 'address': 'Lahore, Pakistan', 'phone': 998877}