In [7]:
#Dictionaries

school = {
            "name": "Zunaib",
            "class": 5,
            "age": 12,    
        }

school["address"] = "Karachi, Pakistan"

print(school)

{'name': 'Zunaib', 'class': 5, 'age': 12, 'address': 'Karachi, Pakistan'}

In [9]:
#Dictionaries

school = {
            1: "Zunaib",
            2: 5,
            3: 12,
            4: "Karachi, Pakistan"
        }
print(school)

{1: 'Zunaib', 2: 5, 3: 12, 4: 'Karachi, Pakistan'}

In [10]:
school = {
            1: "Zunaib",
            2: 5,
            3: 12,
            4: "Karachi, Pakistan"
        }

type(school)

dict

In [13]:
school = [      "Zunaib",    5,     12,  "Karachi, Pakistan"]

type(school)

list

In [14]:
school = (      "Zunaib",    5,     12,  "Karachi, Pakistan")

type(school)

tuple

In [21]:
#Dictionaries

school = {
            "name": "Zunaib",
            "class": 5,
            "age": 12,
            "address": "Karachi, Pakistan",
            "phone": 12345
        }

del school["phone"]

print(school)

{'name': 'Zunaib', 'class': 5, 'age': 12, 'address': 'Karachi, Pakistan'}

In [37]:
#Dictionaries
#.keys #.values #.items

school = {
            "name": "Zunaib",
            "class": 5,
            "age": 12,
            "address": "Karachi, Pakistan",
            "phone": 12345
        }


for academy_key, academy_value in school.items():
    print(academy_value, academy_key)

Zunaib name
5 class
12 age
Karachi, Pakistan address
12345 phone

In [8]:
school = [
        {
            "name": "Zunaib",
            "class": 5,
            "age": 12,
            "address": "Karachi, Pakistan",
            "phone": 12345
        },
        {
            "name": "Bilal",
            "class": 9,
            "age": 15,
            "address": "Islamabad, Pakistan",
            "phone": 112233
        },
        {
            "name": "Ahmed",
            "class": 8,
            "age": 10,
            "address": "Lahore, Pakistan",
            "phone": 998877
        }
]

new_school = {
            "name": "Dawood",
            "class": 8,
            "age": 14,
            "address": "multan, Pakistan",
            "phone": 995588
            }

school.append(new_school)

print(school)

[{'name': 'Zunaib', 'class': 5, 'age': 12, 'address': 'Karachi, Pakistan', 'phone': 12345}, {'name': 'Bilal', 'class': 9, 'age': 15, 'address': 'Islamabad, Pakistan', 'phone': 112233}, {'name': 'Ahmed', 'class': 8, 'age': 10, 'address': 'Lahore, Pakistan', 'phone': 998877}, {'name': 'Dawood', 'class': 8, 'age': 14, 'address': 'multan, Pakistan', 'phone': 995588}]

In [9]:
a = ["zunaib", "bilal", "ahmed"]

print(a[0])

zunaib

In [20]:
school = {
            "name": "Zunaib",
            "class": 5,
            "age": 12,
            "cities": ["Karachi", "Lahore", "Multan"],
            "phone": 12345
        }


school["cities"] = ["Karachi", "Lahore", "Multan", "Islamabd"]

print(school)

{'name': 'Zunaib', 'class': 5, 'age': 12, 'cities': ['Karachi', 'Lahore', 'Multan', 'Islamabd'], 'phone': 12345}

In [32]:
school = {
          0: {            
                        "class": 5,
                        "age": 12,
                        "address": "Karachi, Pakistan",
                        "phone": 12345,
                    },
           1: {           
                        "class": 9,
                        "age": 15,
                        "address": "Islamabad, Pakistan",
                        "phone": 112233,
                    },
           2: {          
                        "class": 8,
                        "age": 10,
                        "address": "Lahore, Pakistan",
                        "phone": 998877,
                    },
}

print(school[0]["address"])

Karachi, Pakistan

In [33]:
#Functions

def add_number():
    a = 2
    b = 3
    c = a + b
    print(c)

    
add_number()

5

In [39]:
#Simple Calculator

a = int(input("Write First Number: "))
b = int(input("Write Second Number: "))
op = input("Enter Operator: ")

if op == "+":
    print(a + b)
elif op == "-":
    print(a - b)
elif op == "*":
    print(a * b)
elif op == "/":
    print(a / b)
else:
    print("Wrong Operator")

Write First Number: 15
Write Second Number: 5
Enter Operator: /
3.0

In [ ]:
Saylani Mass IT Training
    Saylani Mass IT Training
Saylani Mass IT Training
    Saylani Mass IT Training
Saylani Mass IT Training
    Saylani Mass IT Training

In [ ]:
Saylani Mass IT Training
    Saylani Mass IT Training
        Saylani Mass IT Training
            Saylani Mass IT Training
        Saylani Mass IT Training
    Saylani Mass IT Training
Saylani Mass IT Training